Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
ipch/
*.7z
*.b[0-9][0-9]
*.opensdf
FarEncyclopedia.ru.chm
*.cd
#Ignore thumbnails created by Windows
#Ignore files built by Visual Studio
.vs/
#Nuget packages folder
packages/
lib/bass/*
lib/farapi3/*
lib/farapi17/*
!lib/bass/readme.md
!lib/farapi3/readme.md
!lib/farapi17/readme.md
*.binlog
!tools/*
